.box{
	float: left;
	margin-left: 5%;
	background-color:#ccc;
}
#fazer{
	
	background-color:white;
	border-width: 2px;
	width:305px;
	height: 205px;
	padding: 50px;
}
#fazendo{
	background-color:white;
	border-width: 2px;
	width:305px;
	height: 205px;
	padding: 50px;
}
#feito{
	background-color:white;
	border-width: 2px;
	width:305px;
	height: 205px;
	padding: 50px;
}
#cadastro{
	background-color:white;
	text-align: center;
	width: 200px;
	margin-bottom:5%;
}
