.box{
	float: left;
	margin-top: 5%;
	margin-left: 10%;
}
#fazer{
	text-align:center;
	background-color:white;
	border-width: 2px;
	width:305px;
	height: 205px;
	padding-top: 20%;
	padding-bottom: -40%;
}
#fazendo{
	text-align:center;
	background-color:white;
	border-width: 2px;
	width:305px;
	height: 205px;
	padding-top: 20%;
	padding-bottom: -40%;
}
#feito{
	text-align:center;
	background-color:white;
	border-width: 2px;
	width:305px;
	height: 205px;
	padding-top: 20%;
	padding-bottom: -40%;
}
